<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iris Flower Classification</title>
</head>
<body style = "background-color: blueviolet;">
    <main>
        <h1 style = "color: rgb(0, 0, 0); text-align: center ; margin-left: auto; margin-right: auto;">Welcome to Iris Flower Classification</h1>
        <h2 style = "color: black; text-align: center ;margin-left: auto; margin-right: auto;">Made by Aman K. Shihab</h2>
        <form action ="" method="POST">
            <p style = "color: coral; text-align: center ;margin-left: auto; margin-right: auto; text-decoration: dotted;">Sepal Length <input name = "sepal_length" type = "number" required = "required"></p>
            <p style = "color: coral; text-align: center ;margin-left: auto; margin-right: auto; text-decoration: dotted;">Sepal Width <input name = "sepal_width" type = "number" required = "required"></p>
            <p style = "color: coral; text-align: center ;margin-left: auto; margin-right: auto; text-decoration: dotted;">Petal Length <input name = "petal_length" type = "number" required = "required"></p>
            <p style = "color: coral; text-align: center ;margin-left: auto; margin-right: auto; text-decoration: dotted;">Petal Width <input name = "petal_width" type = "number" required = "required"></p>
            <p>Submit <input type="submit"></p>
        </form>
    </main>
</body>
</html>